.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-color: rgba(80, 80, 80, 1);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 6;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    width: 160px;
    box-shadow: 0 1px 2px #E0E0E0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 18px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -28px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 0;
    width: 56%;
    height: 16px;   
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.header__navbar-user-item a {
    display: block;
    text-decoration: none;
    color: var(--prymary-color);
    font-size: 1.4rem;
    padding: 8px 16px; 
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header__navbar-user-item a:hover {
    background-color: #FAFAFA;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.header__navbar-item--strong {
    font-weight: 700;
}

.header__navbar-item--saparate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #A9A4A4;
    height: 15px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 190px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 8px;
    display: none;
    animation: fadeIn ease-in 0.4s;
    z-index: 6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 26px;
    left: 0;
    top: -16px;
    content: "";
    display: block;   
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 6;
}

.header__notify:first-child {
    border-top-left-radius: 8px;
}

.header__notify::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 1px;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    top: -20px;
    width: 90px;
    height: 30px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header__notify-header h3 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    user-select: none;
}

.header__notify-item:hover {
    background-color: #F7F7F7;
}

.header__notify-item--viewed {
    background-color: rgba(80, 80, 80, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 6px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 8px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 12px 0;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--prymary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 60px;   
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 14px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--prymary-color);
    font-size: 1.3rem;
    font-weight: 600;
}

.auth-form__controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color)
}

.auth-form__socials--facebook-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 28px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--prymary-color);
}

.auth-form__socials--google-icon {
    color: #FF424E;
}   

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -3px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--prymary-color);
    font-weight: 500;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 4px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 4;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 54px;
    height: 42px;
    margin: 12px;
    border: 1px solid #F8F8F8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--black-color);
    flex: 1;
    padding-right: 16px;    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--prymary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-description {
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    color: var(--prymary-color);
}

.header__cart-item-remove:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    opacity: 0.8;
}

.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img {
    width: 40%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--prymary-color);
}

.header__cart-notice {
    top: -4px;
    right: -4px;
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #3B3A3A;
    color: var(--prymary-color);
    background-color: var(--white-color);
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--prymary-color);
    padding: 0 16px;
    border-radius: 4px
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-lable {
    font-size: 1.4rem;
    color: var(--prymary-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px; 
}

.header__search-btn {
    background-color: var(--prymary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 4px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 16px);
    width: 130px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    border-radius: 4px;
    display: none;      
    animation: fadeIn ease-in 0.2s;
    z-index: 2;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    right: 0;
    top: -20px;
    position: absolute; 
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.header__search-option-item:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--prymary-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--prymary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
    z-index: 2;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__search-history-list {
    margin-top: 10px;
}

.header__search-history-list-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-list-item:hover {
    background-color: #FAFAFA;
}

.header__search-history-list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--prymary-color);
    line-height: 38px;
    display: block;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item-link {
    text-decoration: none;
    color: var(--prymary-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #E5E5E5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-item-link {
    font-weight: 600;
}

.header__sort-item:first-child .header__sort-item-link::before {
    display: none;
}

/* App container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.catergory {
    background-color: var(--white-color);
    border-radius: 8px;
}

.catergory__heading {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--prymary-color);
    padding: 16px 16px 0;
    text-transform: uppercase;
}

.catergory-list {
    padding: 14px 0 8px 0;
}

.catergory-item {
    position: relative;
}

.catergory-item:first-child::before {   
    display: none;
}

.catergory-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #E1E1E1;
}

.catergory-item__link {
    position: relative;
    color: var(--prymary-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 8px 20px;
    display: block;
}

.catergory-item__link:hover {
    opacity: 0.6;
}

/* Mobile category */
.mobile-category {

}

.mobile-category__list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87AFD8;   
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;   
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88CF81;   
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    width: 110px;
    text-align: center;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 400;
    overflow: hidden;
    user-select: none;
    -webtkit-user-select: none;
}

/* Home sort + filter */        
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 12px 22px;
}

.home-filter__lable {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--prymary-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--text-color);
}

.home-filter__page-control {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #F9F9F9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #CCC;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: var(--prymary-color);
}

/* Product item */
.home-product {
    margin-bottom: 20px;
}

.home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--prymary-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--prymary-color);
    margin-left: 10px;
    font-weight: 600;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    align-items: center;
}

.home-product-item__like {
    font-size: 1.2rem;
}

i.home-product-item__like-icon-fill {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    color: var(--prymary-color);
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    color: #D5D5D5;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--start-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--prymary-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--prymary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.94);
    border-top-right-radius: 8px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgb(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: var(--prymary-color);    
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2rem;   
    position: relative;
    top: 4px;
}

.home-product-item__sale-off_lable {
    color: var(--prymary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    position: relative;
    top: 4px;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* Footer */
.footer-wrapper {
    background-color: var(--black-color);
    padding: 32px 0 32px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 0 10px 20px;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
}

.footer-item__link:hover {
    opacity: 0.8;
    border: 1px solid var(--border-color);
}

.footer-item__link:hover.footer-item__link--not-border {
    border: none;
    cursor: text;
    opacity: unset;
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__bottom {
    padding: 14px 0;
    background-color: rgba(80, 80, 80, 1);
}

.footer__text {
    font-size: 1.4rem;
    text-align: center;
    color: var(--text-color);
}